@import 'style/variables/dark-light-mode';
@import 'style/variables/spacing';
@import 'style/variables/main';
@import 'transitions';
@import 'stoke-width';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  font-size: 16px;
  color: var(--text);
  max-width: 100vw;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  text-rendering: optimizeSpeed;
}

@media screen and (max-width: 1150px) {
  body {
    font-size: 14px;
  }
}

input, button, textarea {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
}

button {
  cursor: pointer;

  &:active {
    opacity: .9;
  }

  &:focus-visible {
    outline: var(--text) 2px solid;
  }
}

input {
  &:focus-visible {
    outline: none;
  }
}

a {
  -webkit-user-drag: none;
}

::selection {
  background-color: var(--text);
  color: var(--bg);
}

::-webkit-scrollbar {
  height: 0;
  width: 0;
  background: var(--bg);
}