.my-1 {
  margin: 16px 0;
}
.my-2 {
  margin: 24px 0;
}
.my-3 {
  margin: 32px 0;
}

@for $i from 1 through 8 {
  .mb-#{$i} {
    margin-bottom: #{$i * 4}px;
  }
}

b {
  font-weight: 700;
}

h1 {
  font-size: 2.75em;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 24px;
}

h2 {
  font-size: 1.9em;
  font-weight: 700;
}

h3 {
  font-size: 1.5em;
}

p {
  font-size: 1.1em;
  line-height: 1.4;
}

img {
  width: 100%;
  border-radius: 8px;
}
